<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Rails Practice</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <% if logged_in? %>
          <%= link_to "User Details", user_path(current_user.id), class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link" %>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if logged_in? %>
        <li class="nav-item">
          <%= link_to "Logout", logout_path, class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Register", new_user_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", login_path, class: "nav-link" %>
        </li>        
      <% end %>
    </ul>
  </div>
</nav>